<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/profile.css">
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <meta charset="utf-8">
  <title>{{userData.username}}'s Profile</title>
</head>
<body>
  <div id="grid-container">
    <div class="flex" id="navbar-grid-size">
      {{> default-navbar}}
      <div class="profile-grid">
        <div class="profile-table">
          <div id="username">
            {{userData.username}}
          </div>
          <div id="bio">
            <div id="follow-button-box">
              {{#if following}}
              <form class="" action="unfollow" method="POST">
                <input class="button-styling" type="submit" name="" value="Unfollow user">
                {{else}}
                <form class="" action="follow" method="POST">
                  <input class="button-styling" type="submit" name="" value="Follow user">
                  {{/if}}
                </form>
              </div>
              {{userData.bio}}
            </div>
            <div class="user-posts-container">
              {{#each userPosts}}
              <div class="user-posts">
                {{this.profile_post_content}}
                <div>
                  <div class="user-post-date">
                    {{this.date_created}}
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
